<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecolink for life</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="../fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="../main.css">
    <link rel="stylesheet" href="../function.js">
</head>
<body>
    <!-- HEADER -->
    <div class="header">
      <!-- Header-Logo -->
      
        <img src="../image/logo.jpg" alt="" class="logo-img">
        <h4 class="header-logo-text">Ecolink for life</h3>
      
      <div class="header-search">
       
        <!-- Header-Services -->
          <div class="header-service">
            <div class="header-service-item">
              <img class= "header-service-item-avatar-img" src="../image/avatar.jpg" alt="">
              <a href="#contact">Ecolink</a>
            </div>

            <div class="header-service-item">
              <i class="fa-solid fa-question"></i>
              <a class="active" href="#home">Hỗ trợ</a>
            </div>

            <div class="header-service-item">
              <i class="fa-regular fa-bell"></i>
              <a href="#about">Thông báo</a>
            </div>
            
            
            
          </div>
    
        <!-- Header-serach&cart -->
         <div class="header-search-and-cart">
          <!-- Header-Search-frame -->
          <div class="search-frame">
            <input class="header-search-input" type="text" placeholder="Tìm kiếm">
            <div class="header-search-icon">
              <i class="fa-solid fa-magnifying-glass"></i>
            </div>
            <!--Search history-->
            <div class="header__search-history">
              <h3 class="header__search-history-heading">Lịch sử tìm kiếm </h3>
              <ul class="header__search-history-list">
                  <li class="header__search-history-item">
                      <a href="" class="">Kem dưỡng da</a>
                  </li>
                  <li class="header__search-history-item">
                      <a href="" class="">Kem trị mụn</a>
                  </li>
              </ul>
            </div>
          </div>

          <!-- Cart -->
          <div class="header-icon-cart">
            <i class="fa-solid fa-cart-shopping"></i>
            <div class="cart-quantity">
              <p class="cart-quantity-number">15</p>
            </div>
          </div>
          <div class="product-in-cart">
            <div class="product-in-cart-arrow"></div>
            <ul class="product-in-cart-list">
              <li class="product-in-cart-item">
                <img src="../image/sp1.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Premium Vector</div>
              </li>
              <li class="product-in-cart-item">
                <img src="../image/sp2.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Premium Vector</div>
              </li>
              <li class="product-in-cart-item">
                <img src="../image/sp4.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Strawberry Milkshake Can Packaging Design</div>
              </li>
              <li class="product-in-cart-item">
                <img src="../image/sp5.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Strawberry Milkshake Can Packaging Design</div>
              </li>
              <li class="product-in-cart-item">
                <img src="../image/sp6.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Design for vitamins and supplements</div>
              </li>
              <li class="product-in-cart-item">
                <img src="../image/sp7.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Design for vitamins and supplements</div>
              </li>
              <li class="product-in-cart-item">
                <img src="../image/sp8.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Pamper your skin with the moisturizing effects of lemongrass Essential oil</div>
              </li>
              <li class="product-in-cart-item">
                <img src="../image/sp9.jpg" alt="" class="product-in-cart-item-img">
                <div class="product-in-cart-item-name">Pamper your skin with the moisturizing effects of lemongrass Essential oil</div>
              </li>
            </ul>
          </div>

         </div>
       
       <!-- NAVIGATION -->
     <div class="navigation">
      <ul class="navigation-list">
        <li id = "trang-chu" class="navigation-item">Trang chủ</li>
        <li id = "san-pham" class="navigation-item">Sản phẩm</li>
        <li id = "dien-dan" class="navigation-item">Diễn đàn</li>
        <li id = "blog" class="navigation-item">Bài Blog</li>
      </ul>
    </div>
      </div>
     
  </div>
    <!-- Blog main -->
    <div class="blog row">
        <div class="blog-contact col-md-3">
            <div class="blog-contact-avatar">
                <img class= "header-service-item-avatar-img" src="../image/avatar.jpg" alt="">
                <h4 class="blog-contact-avatar-name"><a href="" class="active">Ecolink for life</a></h4>
            </div>
           <div class="blog-contact-item-frame">
            <div class="blog-contact-item">
                <i class="fa-regular fa-calendar"></i>
                <span class="blog-contact-name" ><a href="">Sự kiện</a></span>
            </div>
            <div class="blog-contact-item">
                <i class="fa-solid fa-arrow-trend-up"></i>
                <span class="blog-contact-name"><a href="">Xu hướng</a></span>
            </div>
            <div class="blog-contact-item">
                <i class="fa-solid fa-heart-circle-check"></i>
                <span class="blog-contact-name"><a href="">Quan tâm</a></span>
            </div>
            <div class="blog-contact-item">
                <i class="fa-solid fa-gear" style="color: rgb(74, 74, 74);"></i>
                <span class="blog-contact-name"><a href="">Cài đặt</a></span>
            </div>
           </div>
        </div>
        <div class="blog-post col-md-6"  style="overflow-y: auto; max-height: 100vh;">
            <div class="blog-post-frame">
                <div class="blog-post-item">
                    <img class= "header-service-item-avatar-img" src="../image/avatar.jpg" alt="" style="margin-left: -px;">
                    <input class="blog-input" placeholder="Bảng tin mới">
                    <div class="" >
                        <span class="blog-post-picture-vid"><i class="fa-regular fa-image"></i>Ảnh/Video</span>
                        <span class="blog-post-live"><i class="fa-solid fa-tv"></i>Trực tiếp</span>
                    </div>
                </div>
            </div>
            <div class="blog-post-1">
                <div class="blog-post-item-1">
                    <img class= "header-service-item-avatar-img" src="../image/avatar.jpg" alt="" style="margin-left: 20px;">
                    <span class="blog-post-contact-name">
                        <a href="">Ecolink for life</a>
                        <a href="" style="padding-left: 30px;color: rgb(30, 30, 204);">Theo dõi 
                          <i class="fa-solid fa-circle-check" style="margin-left: 3px;"></i>
                        </a>
                    </span>
                    <div class="blog-noidung">Tinh chất bí đao có tính chất làm dịu, giảm viêm, trị mụn, giúp tái tạo da và cải thiện độ đàn hồi của da. Hiện nay, tinh chất bí đao Cocoon đang rất nổi tiếng ở thị trường mỹ phẩm chăm sóc da Việt Nam vì độ an toàn, lành tính và hiệu quả mà mang lại.</div>
                    <img class= "blog-post-img" src="../image/post1.jpg" alt="">
                    <div class="blog-post-react-count">
                        <div class="blog-post-react-count-sp">
                            <i class="fa-solid fa-heart" style="color: red;"></i>
                            <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                            <i class="fa-regular fa-face-smile" style="color: orange;"></i>
                        </div>
                        <div class="blog-post-react-count-num">31</div>
                    </div>
                    <div class = "blog-post-react row" style="padding-top: 10px;">
                        <span class="blog-post-react-like col-md-6"><i class="fa-regular fa-heart" style="padding-right: 10px; "></i>Like</span>
                        <span class="blog-post-react-cmt col-md-6"><i class="fa-regular fa-comment" style="padding-right: 10px;"></i>Comment</span>
                    </div>
                </div>
            </div>
            <div class="blog-post-1">
                <div class="blog-post-item-1">
                    <img class= "header-service-item-avatar-img" src="../image/avatar.jpg" alt="" style="margin-left: 20px;">
                    <span class="blog-post-contact-name">
                        <a href="">Ecolink for life</a>
                        <a href="" style="padding-left: 30px;color: rgb(30, 30, 204);">Theo dõi 
                          <i class="fa-solid fa-circle-check" style="margin-left: 3px;"></i>
                        </a>
                    </span>
                    <div class="blog-noidung">Tinh chất bí đao có tính chất làm dịu, giảm viêm, trị mụn, giúp tái tạo da và cải thiện độ đàn hồi của da. Hiện nay, tinh chất bí đao Cocoon đang rất nổi tiếng ở thị trường mỹ phẩm chăm sóc da Việt Nam vì độ an toàn, lành tính và hiệu quả mà mang lại.</div>
                    <img class= "blog-post-img" src="../image/post2.jpg" alt="">
                    <div class="blog-post-react-count">
                        <div class="blog-post-react-count-sp">
                            <i class="fa-solid fa-heart" style="color: red;"></i>
                            <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                            <i class="fa-regular fa-face-smile" style="color: orange;"></i>
                        </div>
                        <div class="blog-post-react-count-num">31</div>
                    </div>
                    <div class = "blog-post-react row" style="padding-top: 10px;">
                        <span class="blog-post-react-like col-md-6"><i class="fa-regular fa-heart" style="padding-right: 10px; "></i>Like</span>
                        <span class="blog-post-react-cmt col-md-6"><i class="fa-regular fa-comment" style="padding-right: 10px;"></i>Comment</span>
                    </div>
                </div>
            </div>
            <div class="blog-post-1">
                <div class="blog-post-item-1">
                    <img class= "header-service-item-avatar-img" src="../image/logo.jpg" alt="" style="margin-left: 20px;">
                    <span class="blog-post-contact-name">
                        <a href="">Ecolink for life</a>
                        <a href="" style="padding-left: 30px;color: rgb(30, 30, 204);">Theo dõi 
                          <i class="fa-solid fa-circle-check" style="margin-left: 3px;"></i>
                        </a>
                    </span>
                    <div class="blog-noidung">Tinh chất bí đao có tính chất làm dịu, giảm viêm, trị mụn, giúp tái tạo da và cải thiện độ đàn hồi của da. Hiện nay, tinh chất bí đao Cocoon đang rất nổi tiếng ở thị trường mỹ phẩm chăm sóc da Việt Nam vì độ an toàn, lành tính và hiệu quả mà mang lại.</div>
                    <img class= "blog-post-img" src="../image/r1c7.webp" alt="">
                    <div class="blog-post-react-count">
                        <div class="blog-post-react-count-sp">
                            <i class="fa-solid fa-heart" style="color: red;"></i>
                            <i class="fa-solid fa-thumbs-up" style="color: blue;"></i>
                            <i class="fa-regular fa-face-smile" style="color: orange;"></i>
                        </div>
                        <div class="blog-post-react-count-num">31</div>
                    </div>
                    <div class = "blog-post-react row" style="padding-top: 10px;">
                        <span class="blog-post-react-like col-md-6"><i class="fa-regular fa-heart" style="padding-right: 10px; "></i>Like</span>
                        <span class="blog-post-react-cmt col-md-6"><i class="fa-regular fa-comment" style="padding-right: 10px;"></i>Comment</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="blog-contact-user col-md-3">
            <div class="blog-contact-user-title">Được tài trợ</div>
            <div class="blog-contact-user-item">
                <img class="blog-contact-user-img"src="../image/sp1.jpg">
                <div class="blog-contact-user-content-frame">
                    <h5 class="blog-contact-user-text" style="font-weight: 550;">Kiwi Collection</h5>
                    <p class="blog-contact-user-sub-text" style="margin-top: 30px; margin-left: 12px;">Sữa rửa mặt </p>
                </div>
            </div>
            <div class="blog-contact-user-item">
                <img class="blog-contact-user-img"src="../image/sp2.jpg">
                <div class="blog-contact-user-content-frame">
                    <h5 class="blog-contact-user-text" style="font-weight: 550;">White Grapefruit</h5>
                    <p class="blog-contact-user-sub-text" style="margin-top: 30px; margin-left: 12px;">Sữa tắm hương trái cây </p>
                </div>
            </div>
            <div class="blog-contact-user-item">
                <img class="blog-contact-user-img"src="../image/sp3.jpg">
                <div class="blog-contact-user-content-frame">
                    <h5 class="blog-contact-user-text" style="font-weight: 550;">Natural List</h5>
                    <p class="blog-contact-user-sub-text" style="margin-top: 30px; margin-left: 12px;">Nước uống hương dâu</p>
                </div>
            </div>

            <!-- <hr style=" margin-left: 30px; width: 250px; border: 1px solid rgba(0, 0, 0, 0.17); ">

            <div class="blog-contact-user-title" style="margin-top: 10px;">Theo dõi</div>
            <div class="blog-contact-user-item">
                <img class="blog-contact-user-img"src="../image/r1c8.webp">
                <span class="blog-contact-user-text" style="font-weight: 550;">Tên DN</span>
                <span class="blog-contact-user-text" style="margin-top: 30px; margin-left: 12px;">Mô tả</span>
            </div>
            <div class="blog-contact-user-item">
                <img class="blog-contact-user-img"src="../image/r1c8.webp">
                <span class="blog-contact-user-text" style="font-weight: 550;">Tên DN</span>
                <span class="blog-contact-user-text" style="margin-top: 30px; margin-left: 12px;">Mô tả</span>
            </div> -->


        </div>     
    </div>
    <script type="text/javascript" src="../function.js"></script>

</body>
