
<link rel="stylesheet" href="./news.css">
<link rel="stylesheet" href="/main.css">
<%- include('layout/mainpage_header') %>

<!-- NEWS-NAVIGATION -->
<div class="news-navigation">
    <a href="" class="news-navigation-item active">Nổi bật</a>
    <a href="" class="news-navigation-item">Sức khỏe</a>
    <a href="" class="news-navigation-item">Sự kiện</a>
    <a href="" class="news-navigation-item">Đời sống</a>
</div>


<!-- NEWS-DETAIL-BODY -->
<div class="news-body row">
    <div class="news-body-article-list col-lg-8" style="
    padding-left: 60px;">
        <% if (article) { %>
        <div class="news-deatail-body ">
            <h1 class="news-detail-body-title"><%= article.TieuDe %></h1>
            <div class="news-detail-body-share">Chia sẻ:
            <i class="fa-brands fa-facebook"></i>
            <i class="fa-brands fa-instagram"></i>
            <i class="fa-brands fa-youtube"></i>
            <i class="fa-brands fa-twitter"></i>
            </div>
            <img style=" width: 755px;" src="<%= article.AnhBia %>" alt="" class="news-detail-body-img">
            <p class="news-detail-body-content">
                <%= article.NoiDung %>
            </p>      
        </div>
        <% } else { %>
            <p>Bài viết không tồn tại.</p>
        <% } %>
        <div class="news-deatail-body-cmt">
            <div class="news-deatail-body-cmt-user-cmt">
                <img src="./image/logo.jpg" alt="" class="news-deatail-body-cmt-user-cmt-img">
                <input type="text" placeholder="Có bình luận gì không?" class="news-deatail-body-cmt-user-cmt-txt">
            </div>
            <div class="news-deatail-body-cmt-others-cmt">
                <ul class="news-deatail-body-cmt-others-cmt-list">
                    <li class="news-deatail-body-cmt-others-cmt-item">
                        <div class="news-deatail-body-cmt-others-cmt-item-infor">
                            <img src="./image/avt1.jpg" alt="" class="news-deatail-body-cmt-others-cmt-item-avt">
                            <h5 class="news-deatail-body-cmt-others-cmt-item-name">Ecolink for life</h5>
                        </div>
                        <div class="news-deatail-body-cmt-others-cmt-item-content">Nội dung comment</div>
                        <div class="news-deatail-body-cmt-others-cmt-item-react">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <div class="news-deatail-body-cmt-others-cmt-item-react-like-quantity">12N</div>
                            <i class="fa-regular fa-thumbs-down"></i>
                            <div class="news-deatail-body-cmt-others-cmt-item-respond"> Phản hồi </div>
                        </div>
                        
                    </li>

                    <li class="news-deatail-body-cmt-others-cmt-item">
                        <div class="news-deatail-body-cmt-others-cmt-item-infor">
                            <img src="./image/avt2.jpg" alt="" class="news-deatail-body-cmt-others-cmt-item-avt">
                            <h5 class="news-deatail-body-cmt-others-cmt-item-name">Ecolink for life</h5>
                        </div>
                        <div class="news-deatail-body-cmt-others-cmt-item-content">Nội dung comment</div>
                        <div class="news-deatail-body-cmt-others-cmt-item-react">
                            <i class="fa-solid fa-thumbs-up"></i>
                            <div class="news-deatail-body-cmt-others-cmt-item-react-like-quantity">12N</div>
                            <i class="fa-regular fa-thumbs-down"></i>
                            <div class="news-deatail-body-cmt-others-cmt-item-respond">Phản hồi</div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    
    </div>
    

    
    <div class="news-body-blog col-lg-4">
        <h3 class="new-body-blog-title">Top nhà tương tác hàng đầu</h3>
        <img class="new-body-blog-img" src="https://i.pinimg.com/474x/85/b0/0f/85b00f1d368922e4bbc8be6daf178055.jpg" alt="">
        <h3 class="new-body-blog-title">Bài blog liên quan</h3>
        <div class="new-body-blog-relate">
            <ul class="new-body-blog-relate-list">
                <li class="new-body-blog-relate-item">
                    <img src="./image/art1.jpg" alt="" class="new-body-blog-relate-item-img">
                    <h4 class="new-body-blog-relate-item-title">Danh sách ứng dụng thắng giải Apple Design Award 2024</h4>
                </li>

                <li class="new-body-blog-relate-item">
                    <img src="./image/art4.jpg" alt="" class="new-body-blog-relate-item-img">
                    <h4 class="new-body-blog-relate-item-title">Danh sách ứng dụng thắng giải Apple Design Award 2024</h4>
                </li>
                <li class="new-body-blog-relate-item">
                    <img src="./image/art4.jpg" alt="" class="new-body-blog-relate-item-img">
                    <h4 class="new-body-blog-relate-item-title">Danh sách ứng dụng thắng giải Apple Design Award 2024</h4>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
<footer>
<div class="footer">
    <div class="footer-logo">
      <h1 class="footer-logo-text">ECOLINK FOR LIFE</h1>
    </div>
    <div class="footer-infor">
      <ul class="footer-infor-list">
        <li class="footer-infor-item">About us</li>
        <li class="footer-infor-item">News</li>
        <li class="footer-infor-item">Official Store</li>
        <li class="footer-infor-item">Company</li>
        <li class="footer-infor-item">Careers</li>
      </ul>
    </div>
  
    <div class="footer-infor">
      <ul class="footer-infor-list">
        <li class="footer-infor-item">Get Help</li>
        <li class="footer-infor-item">FAQ</li>
        <li class="footer-infor-item">Shipping</li>
        <li class="footer-infor-item">Payment</li>
        <li class="footer-infor-item">Returns</li>
        <li class="footer-infor-item">Contact Us</li>     
      </ul>
    </div>
    <div class="footer-infor">
      <ul class="footer-infor-list">
        <li class="footer-infor-item">Follow Us</li>
        <li class="footer-infor-item">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-instagram"></i>
          <i class="fa-brands fa-youtube"></i>
          <i class="fa-brands fa-twitter"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer-year-guide">
    <a href="" class="footer-year-guide-item">Guide</a>
    <a href="" class="footer-year-guide-item">Terms & Conditions</a>
    <a href="" class="footer-year-guide-item">Privacy Policy</a>
  </div>
  <div class="footer-year">
    <i class="fa-regular fa-circle-check"></i>
    2024 ECOLINK. All Rights Reserved
  </div>
</footer>
</html>
