<%- include('layout/mainpage_header') %>
        <!-- NEWS-NAVIGAETION -->
        <div class="news-navigation">
            <a href="" class="news-navigation-item active">Nổi bật</a>
            <a href="" class="news-navigation-item">Sức khỏe</a>
            <a href="" class="news-navigation-item">Sự kiện</a>
            <a href="" class="news-navigation-item">Đời sống</a>
        </div>
        <!-- NEWS-DETAIL-BODY -->
        <div class="news-body row">
            <div class="news-body-article-list col-lg-8">
                <div class="news-deatail-body ">
                    <h1 class="news-detail-body-title">Sản phẩm xanh đang dần thay thế cả nước bởi nhiều công dụng đáng kinh ngạc !!!</h1>
                    <div class="news-detail-body-share">Chia sẻ:
                    <i class="fa-brands fa-facebook"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-youtube"></i>
                    <i class="fa-brands fa-twitter"></i>
                    </div>
                    <img src="../image/newsimg.jpg" alt="" class="news-detail-body-img">
                    <p class="news-detail-body-content">
                        <strong style="font-weight: 700; font-size: 23px;">Những lợi ích khi sử dụng sản phẩm xanh</strong><br>
                        Sản phẩm xanh, hay sản phẩm bền vững, đóng vai trò quan trọng trong việc bảo vệ môi trường. Người tiêu dùng ngày càng ưa chuộng các sản phẩm thân thiện với môi trường vì chúng giúp giảm thiểu tác động tiêu cực đến môi trường và mang lại lợi ích cho xã hội.
                        <br>
                        Các thông điệp truyền tải tính bền vững hiệu quả có thể ảnh hưởng đến lựa chọn của người tiêu dùng và tính khan hiếm của các sản phẩm xanh có thể làm tăng sức hấp dẫn của chúng. Việc lồng ghép các yếu tố bền vững xuyên suốt quá trình thiết kế là vô cùng quan trọng. Sự đổi mới, sáng tạo là yếu tố then chốt thúc đẩy sự phát triển của sản phẩm bền vững. Các doanh nghiệp cần đánh giá mức độ bền vững trong toàn bộ quá trình phát triển sản phẩm của họ.
                        <br>
                        Một số lợi ích nổi bật nhất bao gồm:<br>
                        - <strong style="font-weight: 700;">Giảm thiểu tác động môi trường:</strong> Góp phần giảm thiểu ô nhiễm, bảo tồn các tài nguyên quý giá như nước và năng lượng, đồng thời giảm lượng rác thải ra bãi chôn lấp.
                        <br>- <strong style="font-weight: 700;">Tốt hơn cho sức khỏe người tiêu dùng:</strong> Thường sử dụng các thành phần tự nhiên, an toàn hơn, giúp giảm tiếp xúc với các chất gây hại.
                        <br>- <strong style="font-weight: 700;">Bảo vệ động vật hoang dã và môi trường sống:</strong> Các phương pháp tìm nguồn cung ứng và sản xuất bền vững giúp bảo vệ đa dạng sinh học và ngăn ngừa việc phá hủy môi trường sống.
                        <br>- <strong style="font-weight: 700;">Hỗ trợ các công ty có đạo đức:</strong> Các doanh nghiệp ưu tiên các hoạt động xanh thường có xu hướng hoạt động có trách nhiệm xã hội và trách nhiệm môi trường cao hơn.
                        <br>- <strong style="font-weight: 700;">Tiết kiệm chi phí lâu dài:</strong> Mặc dù một số sản phẩm xanh có chi phí ban đầu cao hơn, nhưng chúng thường giúp tiết kiệm chi phí trong dài hạn do tiêu thụ ít năng lượng hơn và giảm nhu cầu bảo trì.
                    </p>
                    
                    
                </div>
                <div class="news-deatail-body-cmt">
                    <div class="news-deatail-body-cmt-user-cmt">
                        <img src="../image/logo.jpg" alt="" class="news-deatail-body-cmt-user-cmt-img">
                        <input type="text" placeholder="Có bình luận gì không?" class="news-deatail-body-cmt-user-cmt-txt">
                    </div>
                    <div class="news-deatail-body-cmt-others-cmt">
                        <ul class="news-deatail-body-cmt-others-cmt-list">
                            <li class="news-deatail-body-cmt-others-cmt-item">
                                <div class="news-deatail-body-cmt-others-cmt-item-infor">
                                    <img src="../image/avt1.jpg" alt="" class="news-deatail-body-cmt-others-cmt-item-avt">
                                    <h5 class="news-deatail-body-cmt-others-cmt-item-name">Ecolink for life</h5>
                                </div>
                                <div class="news-deatail-body-cmt-others-cmt-item-content">Nội dung comment</div>
                                <div class="news-deatail-body-cmt-others-cmt-item-react">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <div class="news-deatail-body-cmt-others-cmt-item-react-like-quantity">12N</div>
                                    <i class="fa-regular fa-thumbs-down"></i>
                                    <div class="news-deatail-body-cmt-others-cmt-item-respond"> Phản hồi </div>
                                </div>
                                
                            </li>

                            <li class="news-deatail-body-cmt-others-cmt-item">
                                <div class="news-deatail-body-cmt-others-cmt-item-infor">
                                    <img src="../image/avt2.jpg" alt="" class="news-deatail-body-cmt-others-cmt-item-avt">
                                    <h5 class="news-deatail-body-cmt-others-cmt-item-name">Ecolink for life</h5>
                                </div>
                                <div class="news-deatail-body-cmt-others-cmt-item-content">Nội dung comment</div>
                                <div class="news-deatail-body-cmt-others-cmt-item-react">
                                    <i class="fa-solid fa-thumbs-up"></i>
                                    <div class="news-deatail-body-cmt-others-cmt-item-react-like-quantity">12N</div>
                                    <i class="fa-regular fa-thumbs-down"></i>
                                    <div class="news-deatail-body-cmt-others-cmt-item-respond">Phản hồi</div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            
            </div>
            

            
            <div class="news-body-blog col-lg-4">
                <h3 class="new-body-blog-title">Top nhà tương tác hàng đầu</h3>
                <img class="new-body-blog-img" src="../image/logo.jpg" alt="">
                <h3 class="new-body-blog-title">Bài blog liên quan</h3>
                <div class="new-body-blog-relate">
                    <ul class="new-body-blog-relate-list">
                        <li class="new-body-blog-relate-item">
                            <img src="../image/art1.jpg" alt="" class="new-body-blog-relate-item-img">
                            <h4 class="new-body-blog-relate-item-title">Danh sách ứng dụng thắng giải Apple Design Award 2024</h4>
                        </li>

                        <li class="new-body-blog-relate-item">
                            <img src="../image/art4.jpg" alt="" class="new-body-blog-relate-item-img">
                            <h4 class="new-body-blog-relate-item-title">Danh sách ứng dụng thắng giải Apple Design Award 2024</h4>
                        </li>
                        <li class="new-body-blog-relate-item">
                            <img src="../image/art4.jpg" alt="" class="new-body-blog-relate-item-img">
                            <h4 class="new-body-blog-relate-item-title">Danh sách ứng dụng thắng giải Apple Design Award 2024</h4>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
</body>
<%- include('layout/footer')  %>
</html>