<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecolink for life</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="./log-in.css">
    <link rel="stylesheet" href="./main.js">
</head>
<body>
    <!--Phần nội dung-->
    <div class="login-body">
        <div id="wrapper">
            <form action="/us-sign-in/user" method="post" id="form-signin">
                <h1 class="form-heading">Đăng ký</h1>
                <div class="form-group">
                    <i class="far fa-user"></i>
                    <input type="text" id="TenDangNhap"  name="TenDangNhap"  class="form-input" placeholder="Số điện thoại/Tên đăng nhập" required>
                </div>
                <div class="form-group">
                    <i class="fas fa-key"></i>
                    <input type="password" id="MatKhau" name="MatKhau" required class="form-input" placeholder="Mật khẩu">
                </div>
                <input type="submit" value="Đăng nhập" class="form-submit">
                <a href="/business_log-in" class="business-login">Đăng nhập doanh nghiệp</a>
                <a href="" class="fogot-password">Quên mật khẩu</a>
            </form>
        </div>
    </div>
    <script>
         // Toggle password visibility
         const togglePassword = document.querySelector("#toggle-password");
        const passwordInput = document.querySelector("#password-input");

        togglePassword.addEventListener("click", () => {
            // Toggle the input type between password and text
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                togglePassword.classList.replace("fa-eye", "fa-eye-slash"); // Open eye icon
            } else {
                passwordInput.type = "password";
                togglePassword.classList.replace("fa-eye-slash", "fa-eye"); // Closed eye icon
            }
        });


        document.querySelectorAll('.form-group input').forEach((input) => {
    input.addEventListener('input', (event) => {
        const icon = event.target.previousElementSibling;
        if (icon) {
            icon.style.visibility = event.target.value ? 'hidden' : 'visible';
            icon.style.opacity = event.target.value ? '0' : '1';
        }
    });
});


    </script>
</body>


