<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./order-payment.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome-free-6.6.0-web/css/all.css">
    <title>Order Payment</title>
</head>
<body>
    <!-- HEADER -->
    <div class="header">
        <!-- Header-Logo -->           
        <img src="./image/logo.jpg" alt="" class="logo-img">
        <h4 class="header-logo-text">Thanh toán</h3>
        
        <div class="header-search">
            
        <!-- Header-Services -->
        <div class="header-service">
            <div class="header-service-item">
            <img class= "header-service-item-avatar-img" src="./image/avatar.jpg" alt="">
            <a href="http://127.0.0.1:5500/assets/personal.html">Ecolink</a>
            </div>

            <div class="header-service-item">
            <i class="fa-solid fa-question"></i>
            <a class="active" href="#home">Hỗ trợ</a>
            </div>

            <div class="header-service-item">
            <i class="fa-regular fa-bell"></i>
            <a href="#about">Thông báo</a>
            </div>
            <div class="header-service-item">
            <i class="fa-solid fa-store"></i>
            <a class="active" href="#home">Kênh người bán</a>
            </div>
        </div>  
        </div>         
    </div>

    <!-- BODY -->
     <div class="wrapper">
        <div class="order-address">
            <div class="order-address-header">
                <i class="fa-solid fa-location-dot"></i>
                <h4 class="order-address-title">Địa Chỉ Nhận Hàng</h4>
                
            </div>
            <div class="order-address-infor">
                <div class="order-address-infor-name-phomeNumber">
                    Nguyễn Ngọc Hân (+84) 868746701
                </div>
                <div class="order-address-infor-adr">Ấp 9 xã long tiên huyện cai lậy tỉnh tiền giang, Xã Long Tiên, Huyện Cai Lậy, Tiền Giang</div>
                
            </div>
            
        </div>

        <div class="order-product">
            <div class="order-product-header">
                <ul class="order-product-header-list row">
                    <li class="order-product-header-item col-lg-6">Sản phẩm</li>
                    <li class="order-product-header-item col-lg-2">Đơn giá</li>
                    <li class="order-product-header-item col-lg-2">Số lượng</li>
                    <li class="order-product-header-item col-lg-2">Thành tiền</li>
                </ul>
            </div>

            <div class="order-product-body">
                <div class="order-product-body-item row">
                    <div class="order-product-body-infor col-lg-6">
                        <img src="./image/sp1.jpg" alt="" class="order-product-body-img">
                        <div class="order-product-body-nameProduct">ÁO THUN CROPTOP PHỐI BÈO</div>
                        <div class="order-product-body-typeProduct">Đen, Free</div>
                    </div>
                    <div class="order-product-body-priceProduct col-lg-2">44.000</div>
                    <div class="order-product-body-quantityProduct col-lg-2">1</div>
                    <div class="order-product-body-totalCostProduct col-lg-2">44.000</div>
                </div>
                
            </div>
        </div>
        
        <div class="order-payment">
            <div class="order-payment-header">
                <div class="order-payment-header-title">Phương thức thanh toán</div>
                <div class="order-payment-header-payType">
                    <div class="order-payment-header-creditType">Thẻ tín dụng/Ghi nợ</div>
                    <div class="order-payment-header-momoType">Ví Momo</div>
                    <div class="order-payment-header-cashType">Tiền mặt</div>
                </div> 
            </div>
        </div>

        <div class="order-final">


        </div>

        <div class="order-buy">
            <button class="order-buy-btn">Đặt hàng</button>
        </div>

     </div>
</body>
</html>