<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecolink for life</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./body.css">
    <link rel="stylesheet" href="./blog.css">
    <link rel="stylesheet" href="./user.css">
</head>
<body>
        <!-- HEADER -->
        <!-- HEADER -->
    <div class="header">
        <!-- Header-Logo -->
        
          <img src="./image/logo.jpg" alt="" class="logo-img">
          <h4 class="header-logo-text">Ecolink for life</h3>
        
        <div class="header-search">
          
          <!-- Header-Services -->
            <div class="header-service">
              <div class="header-service-item">
                <img class= "header-service-item-avatar-img" src="./image/avatar.jpg" alt="">
                <a href="#contact">Ecolink</a>
              </div>
  
              <div class="header-service-item">
                <i class="fa-solid fa-question"></i>
                <a class="active" href="#home">Hỗ trợ</a>
              </div>
  
              <div class="header-service-item">
                <i class="fa-regular fa-bell"></i>
                <a href="#about">Thông báo</a>
              </div>
              
              
              
            </div>
      
          <!-- Header-serach&cart -->
            <div class="header-search-and-cart">
            <!-- Header-Search-frame -->
            <div class="search-frame">
              <input class="header-search-input" type="text" placeholder="Tìm kiếm">
              <div class="header-search-icon">
                <i class="fa-solid fa-magnifying-glass"></i>
              </div>
              <!--Search history-->
              <div class="header__search-history">
                <h3 class="header__search-history-heading">Lịch sử tìm kiếm </h3>
                <ul class="header__search-history-list">
                    <li class="header__search-history-item">
                        <a href="" class="">Kem dưỡng da</a>
                    </li>
                    <li class="header__search-history-item">
                        <a href="" class="">Kem trị mụn</a>
                    </li>
                </ul>
              </div>
            </div>
  
            <!-- Cart -->
            <div class="header-icon-cart">
              <i class="fa-solid fa-cart-shopping"></i>
              <div class="cart-quantity">
                <p class="cart-quantity-number">15</p>
              </div>
            </div>
            <div class="product-in-cart">
              <div class="product-in-cart-arrow"></div>
              <ul class="product-in-cart-list">
                <li class="product-in-cart-item">
                  <img src="./image/sp1.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Premium Vector</div>
                </li>
                <li class="product-in-cart-item">
                  <img src="./image/sp2.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Premium Vector</div>
                </li>
                <li class="product-in-cart-item">
                  <img src="./image/sp4.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Strawberry Milkshake Can Packaging Design</div>
                </li>
                <li class="product-in-cart-item">
                  <img src="./image/sp5.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Strawberry Milkshake Can Packaging Design</div>
                </li>
                <li class="product-in-cart-item">
                  <img src="./image/sp6.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Design for vitamins and supplements</div>
                </li>
                <li class="product-in-cart-item">
                  <img src="./image/sp7.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Design for vitamins and supplements</div>
                </li>
                <li class="product-in-cart-item">
                  <img src="./image/sp8.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Pamper your skin with the moisturizing effects of lemongrass Essential oil</div>
                </li>
                <li class="product-in-cart-item">
                  <img src="./image/sp9.jpg" alt="" class="product-in-cart-item-img">
                  <div class="product-in-cart-item-name">Pamper your skin with the moisturizing effects of lemongrass Essential oil</div>
                </li>
              </ul>
            </div>
  
            </div>
          
          <!-- NAVIGATION -->
        <div class="navigation">
        <ul class="navigation-list">
          <li id = "trang-chu" class="navigation-item">Trang chủ</li>
          <li id = "san-pham" class="navigation-item">Sản phẩm</li>
          <li id = "dien-dan" class="navigation-item">Diễn đàn</li>
          <li id = "blog" class="navigation-item">Bài Blog</li>
        </ul>
      </div>
        </div>
        
    </div>
      <!-- Log in main -->
    <div class="back">
        <div class="login">
            <div class="avt"></div>
            <div class="avt-1">Ecolink for life<button class="user-button" >Follow</button><button class="user-button-2"><i class="fa-solid fa-thumbs-up" style="margin-right: 10px;"></i>Like</button></div>
        </div>
        <div class="gioithieu">
            <div class="user-text">
                <div style ="font-size: 18px; font-weight: 550;">GIỚI THIỆU</div>
                <div>Ecolink for life là một nền tảng doanh nghiệp kinh doanh về lĩnh vực đầu tư và phát triển các sản phẩm vĩ mô.</div>
                <div><i class="fa-solid fa-location-dot" style="padding-right: 10px;"></i>Hà Nội, Việt Nam</div>
                <div> <i class="fa-solid fa-user-tie" style="padding-right: 10px;"></i>50-100 nhân sự</div>
                <div> <i class="fa-solid fa-dollar-sign" style="padding-right: 10px;"></i>Vốn đầu tư cấp S++</div>
                <div style="font-weight: 550;"> Ecolinkforlife.cofounder</div>
            </div>
        </div>
        <div class="">
            <div class="user-main">
                <div class="user-post-item">
                    <img class= "header-service-item-avatar-img" src="./image/logo.jpg" alt="">
                    <input class="user-input" placeholder="Bảng tin mới">
                    <div style="padding-top: 10px;">
                        <span class="user-post-picture-vid"><i class="fa-solid fa-image" style="padding-right: 10px;"></i>Ảnh/Video</span>
                        <span class="user-post-live"><i class="fa-solid fa-tv" style="padding-right: 10px;"></i>Sự kiện</span>
                    </div>
                </div>
            </div>
            <div class="user-main-1">
                <div class="blog-post-item-1">
                    <img class= "header-service-item-avatar-img" src="./image/logo.jpg" alt="" style="margin-left: 20px;">
                    <span class="blog-contact-name"><a href="">Ecolink for life</a><a href="" style="padding-left: 50px;color: rgb(30, 30, 204);">Theo dõi</a></span>
                    <div class="blog-noidung">Tinh chất bí đao có tính chất làm dịu, giảm viêm, trị mụn, giúp tái tạo da và cải thiện độ đàn hồi của da. Hiện nay, tinh chất bí đao Cocoon đang rất nổi tiếng ở thị trường mỹ phẩm chăm sóc da Việt Nam vì độ an toàn, lành tính và hiệu quả mà mang lại.</div>
                    <img class= "user-post-img" src="./image/r1c7.webp" alt="">
                    <div style="padding-top: 10px;">
                        <span class="blog-post-picture-vid"><i class="fa-regular fa-heart" style="padding-right: 10px;"></i>Like</span>
                        <span class="blog-post-live"><i class="fa-regular fa-comment" style="padding-right: 10px;"></i>Comment</span>
                    </div>
                </div>
            </div>
            <div class="user-main-1">
                <div class="blog-post-item-1">
                    <img class= "header-service-item-avatar-img" src="./image/logo.jpg" alt="" style="margin-left: 20px;">
                    <span class="blog-contact-name"><a href="">Ecolink for life</a><a href="" style="padding-left: 50px;color: rgb(30, 30, 204);">Theo dõi</a></span>
                    <div class="blog-noidung">Ecolink for life đã cập nhật ảnh đại diện mới</div>
                    <img class= "user-post-img" src="./image/logo.jpg" alt="">
                    <div style="padding-top: 10px;">
                        <span class="blog-post-picture-vid"><i class="fa-regular fa-heart" style="padding-right: 10px;"></i>Like</span>
                        <span class="blog-post-live"><i class="fa-regular fa-comment" style="padding-right: 10px;"></i>Comment</span>
                    </div>
                </div>
            </div>
        </div> 
    </div>
    <script type="text/javascript" src="../assets/main.js">
    </script>
</body>
