
<%- include('layout/mainpage_header') %>
<head><link rel="stylesheet" href="../public/personal.css"></head>
        <div class="personal-body row">
            <div class="personal-body-navigation col-lg-3">
                <div class="personal-body-navigation-frame">
                    <!-- AVATAR -->
                    <div class="personal-body-avatar">
                        <div class="personal-body-avatar-frame">
                            <img src="../image/avatar.jpg" alt="" class="personal-body-avatar-img">
                            <div class="personal-body-avatar-name">Ecolink For Life</div>
                        </div>
                        <div class="personal-body-fix-frame">
                            <i class="fa-solid fa-wrench"></i>
                            <div class="personal-body-fix-text">Sửa hồ sơ</div>
                        </div>
                       
                    </div>
                    <!-- MY ACCOUNT -->
                    <div class="personal-body-my-account-frame">
                        <div class="personal-body-my-account-header-frame">
                            <i class="fa-solid fa-user"></i>
                            <div class="personal-body-my-account-text">Tài Khoản Của Tôi</div>
                        </div>
                        <ul class="personal-body-my-account-list">
                            <li class="personal-body-my-account-item">Hồ Sơ</li>
                            <li class="personal-body-my-account-item">Ngân Hàng</li>
                            <li class="personal-body-my-account-item">Địa Chỉ</li>
                            <li class="personal-body-my-account-item">Đổi Mật Khẩu</li>
                            <li class="personal-body-my-account-item">Cài Đặt Thông Báo</li>
                            <li class="personal-body-my-account-item">Những Thiết Lập Riêng Tư</li>
                        </ul>
                    </div>

                    <!-- ORDER -->
                     <div class="personal-body-order-frame">
                        <i class="fa-solid fa-bag-shopping"></i>
                        <div class="personal-body-my-account-text">Đơn Mua</div>
                     </div>
                      <!-- NOTIFICATION -->
                       <div class="personal-body-order-frame">
                        <div class="personal-body-order-header-frame">
                            <i class="fa-regular fa-bell"></i>
                            <div class="personal-body-order-text">Thông Báo</div>
                         </div>
                         <ul class="personal-body-order-list">
                            <li class="personal-body-my-account-item">Hồ Sơ</li>
                            <li class="personal-body-my-account-item">Ngân Hàng</li>
                            <li class="personal-body-my-account-item">Địa Chỉ</li>
                            <li class="personal-body-my-account-item">Đổi Mật Khẩu</li>
                            <li class="personal-body-my-account-item">Cài Đặt Thông Báo</li>
                            <li class="personal-body-my-account-item">Những Thiết Lập Riêng Tư</li>
                        </ul>
                       </div>
                     
                </div>
                
            </div>
            <div class="personal-body-detail col-lg-9">

            </div>
        </div>
        <script type="text/javascript" src="../function.js">
      
        </script>
</body>

<%- include('layout/footer')  %>
</html>