<%- include('layout/mainpage_header') %>
       <!-- Back ground -->
       <div class="body-background">
        <img class="body-background-img" src="../image/qc-sanpham.jpg" alt="">
        <div class="body-background-text">
          <h1 class="body-background-text-title">Ecolink for life</h1>
          <h4 class="body-background-text-title">Home - Shop - Green product</h1>
        </div>
        </div>
    </div>
    <!-- MAIN BODY -->
     <div class="product-detail-body">
        <div class="product-detail">
            <img src="../image/cocoon.jpg" alt="" class="product-detail-img">
            <div class="product-detail-frame">
                <div class="product-detail-title">Nước dưỡng tóc tinh dầu bưởi 140ml</div>
                <div class="product-detail-rate">
                    <i class="fa-solid fa-star rate-active"></i>
                    <i class="fa-solid fa-star rate-active"></i>
                    <i class="fa-solid fa-star rate-active"></i>
                    <i class="fa-solid fa-star rate-active"></i>
                    <i class="fa-solid fa-star"></i>
                    <p class="product-detail-rate-number">  (5 rate)</p>
                </div>
                <div class="product-detail-describe">Nước dưỡng tóc tinh dầu bưởi giúp ngăn ngừa 60% nguyên nhân rụng tóc, làm gia tăng mật độ của tóc, từ đó giúp tóc dày lên trông thấy. </div>
                <div class="product-detail-price">
                    <div class="product-detail-lable">Giá bán:</div>
                    <div class="product-detail-price-number">95.000</div>
                    <div class="product-detail-price-unit">đ</div>
                </div>
                <div class="product-detail-like">
                    <div class="product-detail-lable">Yêu thích:</div>
                    <i class="fa-solid fa-heart"></i>
                </div>
                <div class="product-detail-evaluate">
                    <div class="product-detail-lable">Đánh giá:</div>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <div class="product-detail-evaluate-ok">OK</div>
                </div>
                <div class="product-detail-buy">
                    <div class="product-detail-add-cart">  
                        <i class="fa-solid fa-cart-plus"></i>
                        Thêm vào giỏ hàng
                    </div>
                    <div class="product-detail-buy-now">  
                        Mua ngay
                    </div>
                </div>
            </div>
        </div>
       <div class="product-infor-frame">
        <div class="line-infor">
            <div class="line-infor-left"></div>
            <div class="line-infor-item line-infor-item-active">Mô tả</div>
            <div class="line-infor-item">Thông tin</div>
            <div class="line-infor-item">Đánh giá (2)</div>
            <div class="line-infor-right"></div>
        </div>
        <div class="product-describe">
            <h4 class="product-describe-title">Mô tả</h4>
            Sản phẩm có thành phần từ tinh dầu bưởi Việt Nam truyền thống, Xylishine, Vitamin B5, Baicapil và Bisabolol. Nước dưỡng tóc tinh dầu bưởi giúp ngăn ngừa 60% nguyên nhân rụng tóc, làm gia tăng mật độ của tóc, từ đó giúp tóc dày lên trông thấy. Đồng thời, sản phẩm còn giúp nuôi dưỡng da đầu và cung cấp độ ẩm cho tóc.
        </div>
       </div>
     </div>

</body>
<footer>
    <div class="footer">
        <div class="footer-logo">
          <h1 class="footer-logo-text">ECOLINK FOR LIFE</h1>
        </div>
        <div class="footer-infor">
          <ul class="footer-infor-list">
            <li class="footer-infor-item">About us</li>
            <li class="footer-infor-item">News</li>
            <li class="footer-infor-item">Official Store</li>
            <li class="footer-infor-item">Company</li>
            <li class="footer-infor-item">Careers</li>
          </ul>
        </div>
      
        <div class="footer-infor">
          <ul class="footer-infor-list">
            <li class="footer-infor-item">Get Help</li>
            <li class="footer-infor-item">FAQ</li>
            <li class="footer-infor-item">Shipping</li>
            <li class="footer-infor-item">Payment</li>
            <li class="footer-infor-item">Returns</li>
            <li class="footer-infor-item">Contact Us</li>     
          </ul>
        </div>
        <div class="footer-infor">
          <ul class="footer-infor-list">
            <li class="footer-infor-item">Follow Us</li>
            <li class="footer-infor-item">
              <i class="fa-brands fa-facebook"></i>
              <i class="fa-brands fa-instagram"></i>
              <i class="fa-brands fa-youtube"></i>
              <i class="fa-brands fa-twitter"></i>
            </li>
          </ul>
        </div>
      </div>
      <div class="footer-year-guide">
        <a href="" class="footer-year-guide-item">Guide</a>
        <a href="" class="footer-year-guide-item">Terms & Conditions</a>
        <a href="" class="footer-year-guide-item">Privacy Policy</a>
      </div>
      <div class="footer-year">
        <i class="fa-regular fa-circle-check"></i>
        2024 ECOLINK. All Rights Reserved
      </div>
</footer>
</html>