<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecolink for life</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="./fontawesome-free-6.6.0-web/css/all.css">
    <link rel="stylesheet" href="./sign-in.css">
    <link rel="stylesheet" href="./main.js">
</head>
<body>
<!--Phần nội dung-->
    <div class="">
        <div class="login-background">
            <div class="login-background-wrap">
                <div class="login-title"><div class="login-title-text">Tài khoản</div></div>
                <div>Tên đăng nhập</div>
                <div><i class="fa-regular fa-user"></i><input type="text" placeholder="Tên doanh nghiệp"></div>
                <div>Mật khẩu</div>
                <div><input type="text" placeholder="********"></div>
                <div>Nhập lại mật khẩu</div>
                <div><input type="text" placeholder="********"></div>
                <div class="login-title"><div class="login-title-text">Thông tin doanh nghiệp</div></div>
                <div>Họ và tên <div class="login-need">*</div></div>
                <div><input type="text" placeholder="Nguyen Van A"></div>
                <div>Giới tính<div class="login-need">*</div></div>
                <div>
                    <label class="login-title-text"><input type="radio" checked="checked" name="radio">Nam <div class="checkmark"></div>
                    </label>
                    <label class="login-title-text"><input type="radio" name="radio">Nữ<div class="checkmark"></div>
                    </label>
                    <label class="login-title-text"><input type="radio" name="radio">Khác<div class="checkmark"></div>
                    </label>
                </div>
                <div>Số điện thoại<div class="login-need">*</div></div>
                <div><input type="text" placeholder="0*** *** ***"></div>
                <div>Tên công ty<div class="login-need">*</div></div>
                <div><i class="fa-regular fa-building"></i><input type="text" placeholder=""></div>
                <div>Tên công ty<div class="login-need">*</div></div>
                <div><i class="fa-regular fa-location-dot"></i><input type="text" placeholder=""></div>
                <div>Email<div class="login-need">*</div></div>
                <div><input type="text" placeholder=""></div>
                <div>Mã số thuế<div class="login-need">*</div></div>
                <div><input type="text" placeholder=""></div>
                <div>Giấy phép kinh doanh<div class="login-need">*</div></div>
                <div><input type="file" class="file-uploader" multiple /></div>
            </div>
        </div>
    </div>
</body>
